.homepage {
  position: relative;
  min-height: 100vh;
  background-image: url("./images/cover.webp");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.homepage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.homepage-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.homepage-subtitle {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-option {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn-option:hover {
  background-color: #ff9800;
}

.search-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 5px 0 0 5px;
  border-color: #ffc107 !important;
}

Button:hover .btn-primary:hover {
  background-color: #e67e00;
  border-color: #e67e00;
}
#search {
  margin-left: -15px;
}
