.property-item {
  background-color: rgba(241, 241, 241, 0.386);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(22, 22, 22) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 450px;
  min-height: 200px;
}

.property-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.505) !important;
}

.image-wrapper {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.property-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.property-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.property-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.view-property-btn {
  margin-top: auto;
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.view-property-btn:hover {
  background-color: #ff5e3a;
  border-color: #ff5e3a;
}
.property-list-wrapper {
  padding: 20px;
  text-align: center;
}
.property-list-wrapper h4 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 25px 40px;
  font-weight: 700;
  font-size: xx-large;
  letter-spacing: 1.5px;
  color: #333;
  border-radius: 0 12px 0 12px;
  background: linear-gradient(135deg, #f4e1b8, #e7d68c);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid #e7c96d;
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.2);
  transition: all 0.3s ease;
}

.property-list-wrapper h4:hover {
  background: linear-gradient(135deg, #f7e9c2, #e4cd74);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.property-link {
  text-decoration: none;
  color: inherit;
}

.property-link:hover {
  text-decoration: none;
  color: inherit;
}
.propertypage {
  background-color: rgba(250, 235, 215, 0.735);
  padding-top: 100px !important;
}
.editdeletebtn {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 4px;
}
.editbtn {
  margin-right: 10px;
}
.carddetail {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.461);
}

.property-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardbody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.property-detail-image {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.property-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 12px;
  background-color: rgba(194, 194, 194, 0.055);
  box-shadow: 0 1px 2px black !important;
}
.property-details-row {
  width: 100%;
}
.addproperty {
  background-color: rgba(250, 235, 215, 0.735);
}
.property-form-box {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: #313a4fda;
}

.page-button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.page-button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #45a049;
}

.page-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.sort-wrapper {
  margin-bottom: 20px;
}

.sort-wrapper label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-wrapper select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content {
  background-color: #4e5464e4;
  color: white;
  border: 2px solid #8c95adcb;
}

.agent-image {
  width: 150px;
  height: 150px;
  border: 3px solid #6c757d;
  object-fit: cover;
}
