.property-item {
  background-color: rgba(195, 195, 195, 0.29);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(22, 22, 22) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 450px;
  min-height: 200px;
}

.property-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.505) !important;
}

.image-wrapper {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.property-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.property-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.property-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.view-property-btn {
  margin-top: auto;
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.view-property-btn:hover {
  background-color: #ff5e3a;
  border-color: #ff5e3a;
}
.property-list-wrapper {
  padding: 20px;
  text-align: center;
}
.property-list-wrapper h4 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 20px;
  font-weight: 700;
  font-size: xx-large;
  border-radius: 12px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.432);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.747) !important;
  background-color: rgba(231, 214, 140, 0.354);
}

.property-link {
  text-decoration: none;
  color: inherit;
}

.property-link:hover {
  text-decoration: none;
  color: inherit;
}
.propertypage {
  background-color: rgba(250, 235, 215, 0.735);
  padding-top: 100px !important;
}
.editdeletebtn {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 4px;
}
.editbtn {
  margin-right: 10px;
}
.carddetail {
  max-width: 100%;
}

.property-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardbody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.property-detail-image {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.property-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 12px;
  background-color: rgba(194, 194, 194, 0.055);
  box-shadow: 0 1px 2px black !important;
}
.property-details-row {
  width: 100%;
}
.addproperty {
  background-color: rgba(250, 235, 215, 0.735);
}
.property-form-box {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: #313a4fda;
}

.modal-content {
  background-color: #4e5464e4;
  color: white;
  border: 2px solid #8c95adcb;
}
