.property-item {
  background-color: white; /* Set cards to white */

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 450px;
}

.property-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
}

.image-wrapper {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.property-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.property-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.property-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.view-property-btn {
  margin-top: auto;
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.view-property-btn:hover {
  background-color: #ff5e3a;
  border-color: #ff5e3a;
}
.property-list-wrapper {
  background-color: rgba(250, 235, 215, 0.735);
  padding: 20px;
  min-height: 100vh;
}
.property-list-wrapper h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-weight: 700;
  font-size: xx-large;
}

.property-link {
  text-decoration: none;
  color: inherit;
}

.property-link:hover {
  text-decoration: none;
  color: inherit;
}
.propertypage {
  background-color: rgba(250, 235, 215, 0.735);
  padding-top: 100px !important;
}
.editdeletebtn {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 4px;
}
.editbtn {
  margin-right: 10px;
}
.carddetail {
  max-width: 100%;
}

.property-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardbody {
  display: flex;
  align-items: center;
  flex-direction: column;
}
